<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>He Thong Nha Tro</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">He Thong Nha Tro</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/hethongnhatro}">Nha Tro</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<h1> List Nha Tro </h1>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/hethongnhatro/new}" class="btn btn-primary btn-sm mb-3"> Add Nha Tro </a>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th> ID </th>
					<th> Ten Nha Tro </th>
					<th> Dia Chi </th>
					<th> So Phong </th>
					<th> Actions </th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="nhaTro: ${listNhaTro}">
					<td th:text="${nhaTro.id}"></td>
					<td th:text="${nhaTro.tenHeThong}"></td>
					<td th:text="${nhaTro.diaChi}"></td>
					<td th:text="${nhaTro.soPhong}"></td>
					<td>
						<a th:href="@{/hethongnhatro/edit/{id}(id=${nhaTro.id})}" class="btn btn-primary">Update</a>
						<a th:href="@{/hethongnhatro/delete/{id}(id=${nhaTro.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>

		</table>
	</div>

</body>

</html>