<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>He Thong Nha Tro</title>
<link rel="stylesheet" 
	  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	  crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">He Thong Nha Tro</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/hethongnhatro}">Nha Tro</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center"> Insert Nha Tro </h1>
				<div class="card-body">
					<form th:action = "@{/hethongnhatro}" th:object = "${nhaTro}" method="POST">
						<div class="form-group">
							<label> Ten Nha Tro</label>
							<input 
							type="text" 
							name="tenHeThong"
							th:field = "*{tenHeThong}"
							class="form-control"
							/>
						</div>
						
						<div class="form-group">
							<label> Dia Chi</label>
							<input 
							type="text" 
							name="diaChi"
							th:field = "*{diaChi}"
							class="form-control"
							/>
						</div>
						
						<div class="form-group">
							<label> So Phong</label>
							<input 
							type="text" 
							name="soPhong"
							th:field = "*{soPhong}"
							class="form-control"
							/>
						</div>
						
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
							
						</div>
					</form>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>